.ProductWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 800px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    padding: 0 20px;
}